* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f45b69;
  box-shadow: 0px 0px 12px black;
}
.logo-image {
  height: 100%;
  cursor: pointer;
  margin: 0rem 1.5rem;
}
.navList {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  margin: 0rem 1.5rem;
}
.navList li {
  cursor: pointer;
  font-size: 1.15rem;
}
Link{
  text-decoration: none;
  color: white;
}
.navList li:hover {
  text-decoration: underline;
  transform: scale(1.05);
}
.login{
  padding: 0.2rem;
}
.search-pannel {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0rem;
}
.search-pannel input {
  width: 25rem;
  height: 1.3rem;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  border: 1px solid black;
}
.search-pannel button {
  padding: 0rem 0.8rem;
}
.card-container {
  display: grid;
  /* width: 100%; */
  gap: 1.5rem;
  /* grid-template-columns: repeat(auto-fill, minmax(12rem, auto)); */
  padding: 0rem 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
  grid-auto-rows: 18rem;
  box-sizing: border-box;
}
.sort-button {
  text-align: center;
  margin: 0rem 0rem 1.5rem 0rem;
}
.sort-button button {
  padding: 0.2rem;
  cursor: pointer;
}
.card {
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem gray;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.card:hover {
  box-shadow: 0px 0px 0.6rem rgb(110, 110, 110);
  transform: scale(1.05);
}
.card div {
  display: flex;
  justify-content: space-between;
}
.card img {
  height: 10rem;
  width: 100%;
  max-width: 8rem;
  object-fit: cover;
  border-radius: 1rem;
  margin: auto;
}
.image-description {
  font-size: 0.8rem;
}
.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1.5rem 0rem;
  background-color: aliceblue;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.dummy-card {
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem gray;
  padding: 0.8rem;
  height: 12rem;
  background-color: rgb(196, 193, 193, 0.8);
}
.restaurant{
  padding: 1rem;
  width: 50rem;
  /* border: 1px solid red; */
  margin: 2rem auto;
}
.restaurant-description{
  display: flex;
  justify-content: space-between;
  border-bottom: 0.08rem solid black;
  padding: 0.3rem 0rem;
}
.restaurant h3{
  margin: 1.5rem 0rem 0.5rem 0rem;
}
.foodItemsList{
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0rem;
}
.userCards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
  padding: 1.5rem;
  gap: 1.5rem;
}
.userDetail{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 0.5rem;
}
.show-none{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}